@font-face {
  font-family: "Insideman";
  src: url('./assets/Insideman.otf');
}

:root {
    font-family: 'Insideman', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.box {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.box-digits {
    height: 5rem;
    overflow: hidden;
}

.page {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    animation: bg 10s infinite ease-in-out;
    background-position: center;
    background-size: cover;
}

.watcher {
    flex-direction: row;
    justify-content: space-around;
    width: 700px;
    height: 20%;
    background-color: white;
    opacity: .8;
    border-radius: .5rem;
    backdrop-filter: blur(10px);
}

.time-unit {
    height: 100%;
}

.time-unit__digits {
    font-size: 4rem;
}

.time-unit__label {
    font-size: 1rem;
}

.scroll-up {
    animation-name: scroll-up;
    animation-duration: 0.5s;
}

@keyframes scroll-up {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-4rem);
    }
}

@keyframes bg {
    0%, 100% {
        background-image: url('./assets/a.jpg');
        box-shadow: 4px 4px 800px inset rgba(0, 0, 0, 1);
    }
    10% {
        box-shadow: 4px 4px 100px inset rgba(0, 0, 0, 1);
    }
    30% {
        background-image: url('./assets/b.jpg');
        box-shadow: 4px 4px 800px inset rgba(0, 0, 0, 1);
    }
    40% {
        box-shadow: 4px 4px 100px inset rgba(0, 0, 0, 1);
    }
    60% {
        background-image: url('./assets/c.jpg');
        box-shadow: 4px 4px 800px inset rgba(0, 0, 0, 1);
    }
    70% {
        box-shadow: 4px 4px 100px inset rgba(0, 0, 0, 1);
    }
}

@media screen and (max-width: 732px) {

    .watcher {
        width: 100%;
    }

}
